h1{
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 40px;
}

#note_title_input{
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

#note_input{
    margin-left: 20px;
    margin-top: 10px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

h2{
    padding-left: 20px;
    padding-top: 20px;
    text-decoration: underline;
    font-size: 32px;
}

#content{
    padding-left: 20px;
}

#content p {
    display: flex;
    justify-content: space-between;
}
#content button {
    margin-right: 20%;
}

#trash_content{
    padding-left: 20px;
    padding-top: 20px;
}

#trash_content p {
    display: flex;
    justify-content: space-between;
}
#trash_content button {
    margin-right: 20%;
}